.cart-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #79A1C0;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 50px;
    text-align: center;
  }
  
  .cart-sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: seashell;
    display: block;
    transition: 0.3s;
  }
  
  .cart-sidebar a:hover {
    color: #f1f1f1;
  }
  
  .cart-sidebar .closebtn {
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 50px;
  }

  .cart-sidebar h1{
      font-size: 2rem;
      font-weight: bold;
      color: seashell;
      margin: 30px 0;
  }
  .cart-sidebar .cart-card{
      width: 90%;
      height: 65vh;
      overflow-y: auto;
      border: solid 2px seashell;
      border-radius: 0.2rem;
      margin: 0 auto;
  }

  .cart-sidebar .card{
      width: 90%;
      height: 100px;
      margin: 12px auto;
      background-color: seashell;
      padding: 8px 12px;
      border-radius: 0.2rem;
  }

  .cart-sidebar .card dl{
    display: flex;
    height: 100%;
  }

  .cart-sidebar .card dl img{
    width: 30%;
    object-fit: cover;
  }

  .cart-sidebar .card dl dt{
    padding-left: 3%;
    width: 55%;
    text-align: left;
  }

  .cart-sidebar .card dl dt p{
    line-height: 1.8rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
  }

  .cart-sidebar .card dl dd{
    width: 15%;
    padding-top: 25px;
    text-align: center;
  }

  .cart-sidebar .card dl dd .removebtn{
    padding: 0;
    color: rgba(0, 0, 0, 0.8);
  }

  .cart-sidebar .card dl dd .removebtn:hover{
    color: #79A1C0;
  }

  .cart-sidebar .cart-cost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 5%;
    color: seashell;
  }

  .cart-sidebar .cart-cost dt,
  .cart-sidebar .cart-cost .cost{
    font-size: 1.2rem;
  }

  input[type=submit]{
    background-color: seashell;
    border-radius: 0.2rem;
    border: solid 2px seashell;
    color: #79A1C0;
    padding: 16px 32px;
    text-decoration: none;
    margin: 0 0 25px 0;
    font-family: "Courgette", "taipeisanstc", "cursive";
    letter-spacing: 0.5rem;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
  }

  input[type=submit]:hover{
    background-color: #79A1C0;
    color: seashell;
  }